Makefile
Makefile.in
README.html
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
lib*.a
missing
stamp-h1
test-driver
_*
*.o
*.swp
*.swo
*.swn
*~
tags
compile
*.orig
.deps
