jobs:
- job: linux_gcc8_32bit
  pool:
    vmImage: Ubuntu 16.04
  steps:
  - script: |
      sudo apt-get update -qq
      sudo apt-get install -qq software-properties-common
      sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
      sudo apt-get update -qq
      sudo apt-get install -qq autoconf automake gcc g++ libboost-dev libgtest-dev libopenmpi-dev libsparsehash-dev make pandoc
    displayName: Install common
  - script: sudo apt-get install -qq gcc-8 g++-8
    displayName: Install gcc-8
  - script: sudo apt-get install gcc-8-multilib g++-8-multilib
    displayName: Install 32-bit compilation support
  - script: |
      ./autogen.sh
      export DISTCHECK_CONFIGURE_FLAGS="CC=\"gcc-8 -m32\" CXX=\"g++-8 -m32\" --build=i386-linux-gnu"
      ./configure CC=gcc-8 CXX=g++-8 --build=i686-linux-gnu "CFLAGS=-m32" "CXXFLAGS=-m32" "LDFLAGS=-m32" --with-mpi=/usr/lib/openmpi
      make -j12 distcheck
    displayName: Compiling ABySS with gcc-8

- job: linux_clang6
  pool:
    vmImage: Ubuntu 16.04
  steps:
  - script: |
      sudo apt-get update -qq
      sudo apt-get install -qq software-properties-common
      sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
      sudo apt-get update -qq
      sudo apt-get install -qq autoconf automake gcc g++ libboost-dev libgtest-dev libopenmpi-dev libsparsehash-dev make pandoc
    displayName: Install common
  - script: sudo apt-get install -qq clang-6.0
    displayName: Install clang-6.0
  - script: |
      ./autogen.sh
      export DISTCHECK_CONFIGURE_FLAGS="CC=clang-6.0 CXX=clang++-6.0"
      ./configure CC=clang-6.0 CXX=clang++-6.0 --with-mpi=/usr/lib/openmpi
      make -j12 distcheck
    displayName: Compiling ABySS with clang 6.0
    
- job: linux_clang7
  pool:
    vmImage: Ubuntu 16.04
  steps:
  - script: |
      sudo apt-get update -qq
      sudo apt-get install -qq software-properties-common
      sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
      sudo apt-get update -qq
      sudo apt-get install -qq autoconf automake gcc g++ libboost-dev libgtest-dev libopenmpi-dev libsparsehash-dev make pandoc
    displayName: Install common
  - script: |
      curl https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
      sudo apt-add-repository "deb http://apt.llvm.org/xenial/ llvm-toolchain-xenial-7 main"
      sudo apt-get update
      sudo apt-get install -qq clang-7
    displayName: Install clang-7
  - script: |
      ./autogen.sh
      export DISTCHECK_CONFIGURE_FLAGS="CC=clang-7 CXX=clang++-7"
      ./configure CC=clang-7 CXX=clang++-7 --with-mpi=/usr/lib/openmpi
      make -j12 distcheck
    displayName: Compiling ABySS with clang 7

- job: linux_clang8
  pool:
    vmImage: Ubuntu 16.04
  steps:
  - script: |
      sudo apt-get update -qq
      sudo apt-get install -qq software-properties-common
      sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
      sudo apt-get update -qq
      sudo apt-get install -qq autoconf automake gcc g++ libboost-dev libgtest-dev libopenmpi-dev libsparsehash-dev make pandoc
    displayName: Install common
  - script: sudo apt-get install -qq clang-8
    displayName: Install clang-8
  - script: |
      ./autogen.sh
      export DISTCHECK_CONFIGURE_FLAGS="CC=clang-8 CXX=clang++-8"
      ./configure CC=clang-8 CXX=clang++-8 --with-mpi=/usr/lib/openmpi
      make -j12 distcheck
    displayName: Compiling ABySS with clang 8

- job: linux_clang9
  pool:
    vmImage: Ubuntu 16.04
  steps:
  - script: |
      sudo apt-get update -qq
      sudo apt-get install -qq software-properties-common
      sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
      sudo apt-get update -qq
      sudo apt-get install -qq autoconf automake gcc g++ libboost-dev libgtest-dev libopenmpi-dev libsparsehash-dev make pandoc
    displayName: Install common
  - script: sudo apt-get install -qq clang-9
    displayName: Install clang-9
  - script: |
      ./autogen.sh
      export DISTCHECK_CONFIGURE_FLAGS="CC=clang-9 CXX=clang++-9"
      ./configure CC=clang-9 CXX=clang++-9 --with-mpi=/usr/lib/openmpi
      make -j12 distcheck
    displayName: Compiling ABySS with clang 9

- job: linux_clang10
  pool:
    vmImage: Ubuntu 18.04
  steps:
  - script: |
      sudo apt-get update -qq
      sudo apt-get install -qq software-properties-common
      sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
      sudo apt-get update -qq
      sudo apt-get install -qq autoconf automake gcc g++ libboost-dev libgtest-dev libopenmpi-dev libsparsehash-dev make pandoc
    displayName: Install common
  - script: sudo apt-get install -qq clang-10
    displayName: Install clang-10
  - script: |
      ./autogen.sh
      export DISTCHECK_CONFIGURE_FLAGS="CC=clang-10 CXX=clang++-10"
      ./configure CC=clang-10 CXX=clang++-10 --with-mpi=/usr/lib/openmpi
      make -j12 distcheck
    displayName: Compiling ABySS with clang 10

- job: linux_gcc5
  pool:
    vmImage: Ubuntu 16.04
  steps:
  - script: |
      sudo apt-get update -qq
      sudo apt-get install -qq software-properties-common
      sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
      sudo apt-get update -qq
      sudo apt-get install -qq autoconf automake gcc g++ libboost-dev libgtest-dev libopenmpi-dev libsparsehash-dev make pandoc
    displayName: Install common
  - script: sudo apt-get install -qq gcc-5 g++-5
    displayName: Install gcc-5
  - script: |
      ./autogen.sh
      export DISTCHECK_CONFIGURE_FLAGS="CC=gcc-5 CXX=g++-5"
      ./configure CC=gcc-5 CXX=g++-5 --with-mpi=/usr/lib/openmpi
      make -j12 distcheck
    displayName: Compiling ABySS with gcc-5

- job: linux_gcc6
  pool:
    vmImage: Ubuntu 16.04
  steps:
  - script: |
      sudo apt-get update -qq
      sudo apt-get install -qq software-properties-common
      sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
      sudo apt-get update -qq
      sudo apt-get install -qq autoconf automake gcc g++ libboost-dev libgtest-dev libopenmpi-dev libsparsehash-dev make pandoc
    displayName: Install common
  - script: sudo apt-get install -qq gcc-6 g++-6
    displayName: Install gcc-6
  - script: |
      ./autogen.sh
      export DISTCHECK_CONFIGURE_FLAGS="CC=gcc-6 CXX=g++-6"
      ./configure CC=gcc-6 CXX=g++-6 --with-mpi=/usr/lib/openmpi
      make -j12 distcheck
    displayName: Compiling ABySS with gcc-6

- job: linux_gcc7
  pool:
    vmImage: Ubuntu 16.04
  steps:
  - script: |
      sudo apt-get update -qq
      sudo apt-get install -qq software-properties-common
      sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
      sudo apt-get update -qq
      sudo apt-get install -qq autoconf automake gcc g++ libboost-dev libgtest-dev libopenmpi-dev libsparsehash-dev make pandoc
    displayName: Install common
  - script: sudo apt-get install -qq gcc-7 g++-7
    displayName: Install gcc-7
  - script: |
      ./autogen.sh
      export DISTCHECK_CONFIGURE_FLAGS="CC=gcc-7 CXX=g++-7"
      ./configure CC=gcc-7 CXX=g++-7 --with-mpi=/usr/lib/openmpi
      make -j12 distcheck
    displayName: Compiling ABySS with gcc-7

- job: linux_gcc8
  pool:
    vmImage: Ubuntu 16.04
  steps:
  - script: |
      sudo apt-get update -qq
      sudo apt-get install -qq software-properties-common
      sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
      sudo apt-get update -qq
      sudo apt-get install -qq autoconf automake gcc g++ libboost-dev libgtest-dev libopenmpi-dev libsparsehash-dev make pandoc
    displayName: Install common
  - script: sudo apt-get install -qq gcc-8 g++-8
    displayName: Install gcc-8
  - script: |
      ./autogen.sh
      export DISTCHECK_CONFIGURE_FLAGS="CC=gcc-8 CXX=g++-8"
      ./configure CC=gcc-8 CXX=g++-8 --with-mpi=/usr/lib/openmpi
      make -j12 distcheck
    displayName: Compiling ABySS with gcc-8

- job: clang_format
  pool:
    vmImage: Ubuntu 16.04
  steps:
  - script: |
      sudo apt-get update -qq
      sudo apt-get install -qq software-properties-common
      sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
      sudo apt-get update -qq
      sudo apt-get install -qq autoconf automake gcc g++ libboost-dev libgtest-dev libopenmpi-dev libsparsehash-dev make pandoc
    displayName: Install common
  - script: |
      ./autogen.sh
      ./configure
    displayName: Configuring
  - script: |
      curl https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
      sudo apt-add-repository "deb http://apt.llvm.org/xenial/ llvm-toolchain-xenial-8 main"
      sudo apt-get update
      sudo apt-get install -y --no-install-recommends clang-format-8
      sudo ln -sf clang-format-8 /usr/bin/clang-format
    displayName: Install clang-format
  - script: make clang-format
    displayName: Run clang-format

- job: macOS_default_gcc
  pool:
    vmImage: macOS-10.14
  steps:
  - script: |
      brew update
      brew install automake boost openmpi google-sparsehash make pandoc ghc
    displayName: Install common
  - script: |
      ./autogen.sh
      ./configure --with-boost=/usr/local/opt/boost/include --with-mpi=/usr/local/Cellar/open-mpi/4.0.1_2 CPPFLAGS=-I/usr/local/Cellar/google-sparsehash/2.0.3/include
      make -j12 distcheck
    displayName: Compiling ABySS with default gcc

- job: macOS_default_clang
  pool:
    vmImage: macOS-10.14
  steps:
  - script: |
      brew update
      brew install automake boost openmpi google-sparsehash make pandoc ghc llvm
    displayName: Install common
  - script: |
      ./autogen.sh
      export DISTCHECK_CONFIGURE_FLAGS="CC=clang CXX=clang++"
      ./configure CC=clang CXX=clang++ --with-boost=/usr/local/opt/boost/include --with-mpi=/usr/local/Cellar/open-mpi/4.0.1_2 CPPFLAGS=-I/usr/local/Cellar/google-sparsehash/2.0.3/include
      make -j12 distcheck
    displayName: Compiling ABySS with default clang

- job: linux_gcc9
  pool:
    vmImage: Ubuntu 16.04
  steps:
  - script: |
      sudo apt-get update -qq
      sudo apt-get install -qq software-properties-common
      sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
      sudo apt-get update -qq
      sudo apt-get install -qq autoconf automake gcc g++ libboost-dev libgtest-dev libopenmpi-dev libsparsehash-dev make pandoc
    displayName: Install common
  - script: sudo apt-get install -qq gcc-9 g++-9
    displayName: Install gcc-9
  - script: |
      ./autogen.sh
      export DISTCHECK_CONFIGURE_FLAGS="CC=gcc-9 CXX=g++-9"
      ./configure CC=gcc-9 CXX=g++-9 --with-mpi=/usr/lib/openmpi
      make -j12 distcheck
    displayName: Compiling ABySS with gcc-9
